.row
    .col-lg-12.col-md-12.col-xs-12
        .property
            .col-md-12.col-xs-12
                each agent in agents
                    .container
                        ul
                            li="Agent Name: "+agent.agent_name_zh
                            li="Agent Name EN: "+agent.agent_name_en
                            li="Agent Phone: "+agent.agent_phone
                            li="Agent register number: "+agent.agent_reg_no