br
.container
    //- form(action="/webapp/NewProperty/add", method="post", enctype="multipart/form-data")
    .row
        .col-md-3.col-xs-12
            h4 Estate Name:
        .col-md-3.col-xs-12
            input(type="text" name="estate_name" placeholder="" required)
        .col-md-3.col-xs-12
            h4 Estate Name(EN):
        .col-md-3.col-xs-12
            input(type="text" name="estate_name_en" required)
    .row
        .col-md-3.col-xs-12
            h4 Block Number:
        .col-md-3.col-xs-12
            input(name="block_number" type="number" required)
        .col-md-3.col-xs-12
            h4 Floor Number:
        .col-md-3.col-xs-12
            input(name="floor_number" type="number" required)
    .row
        .col-md-3.col-xs-12
            h4 Car Park:
        .col-md-3.col-xs-12
            input(name="car_park" type="number" required)
        .col-md-3.col-xs-12
            h4 Flat number:
        .col-md-3.col-xs-12
            input(name="flat_number" type="number" required)
    .row
        .col-md-3.col-xs-12
            h4 Number of Room:
        .col-md-3.col-xs-12
            input(name="num_room" type="number" required)
        .col-md-3.col-xs-12
            h4 Number of Living Room:
        .col-md-3.col-xs-12
            input(name="num_livingrm" type="number" required)
    br
    .row
        .col-md-2.col-xs-12
            h4 District
        .col-md-10.col-xs-12
            select(name="district"  required)
                each district in districts
                    option(value="#{district.id}")=district.name_en+" "+district.name_zh
    br
    .row
        .col-md-3.col-xs-12
            h4 Reference num:
        .col-md-6.col-xs-12
            input(name='ref_no')
        
    .row
        .col-md-3.col-xs-12
            h4 Gross Building Area
        .col-md-3.col-xs-12
            input(name='gross_building_area')
        .col-md-3.col-xs-12
            h4 Practical Building Area
        .col-md-3.col-xs-12
            input(name='practical_building_area')
    .row
        .col-md-3.col-xs-12
            h4 Sell Type:
        .col-md-3.col-xs-12
            input(type="radio", name="issell", value=1, checked)
            span Sell
        .col-md-3.col-xs-12
            input(type="radio", name="issell", value=0)
            span Rental
    .row
        .col-md-3.col-xs-12
            h4 Price:
        .col-md-3.col-xs-12
            input(type="number" name='selling_price')
    br
    .row
        .col-md-12.col-xs-12 
            h4 Map
        .col-md-12.col-xs-12
            script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSigdFn0QZV4cylh-e5oCRXoJI9YWQcEE&callback=initMap")
            #map
                script.
                    var map;
                    var lat = 22.27827353145788;
                    var lng = 114.17229392216541;
                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 11,
                            center: new google.maps.LatLng(lat,lng),
                            mapTypeId: 'terrain'
                        });
                        var latLng = new google.maps.LatLng(lat,lng);
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map
                        });
                        function addMarker(location) {
                            marker = new google.maps.Marker({
                                position: location,
                                map: map
                            })
                        }
                        google.maps.event.addListener(map, 'click', function(event) {
                            marker.setMap(null);
                            addMarker(event.latLng);
                            $('#lat').val(event.latLng.lat());
                            $('#lng').val(event.latLng.lng());
                        });
                    }
    br
    .row
        .col-md-3.col-xs-12 
            h4 lat 
        .col-md-3.col-xs-12
            input#lat(name="lat")
        .col-md-3.col-xs-12
            h4 lng
        .col-md-3.col-xs-12
            input#lng(name="lng")
    br
    .row
        .col-md-12.col-xs-12
            h4 Description
        .col-md-12.col-xs-12
            textarea(name="description" style="width: 100%")
    br
    .row
        .col-md-12.col-xs-12
            h4 Cover Pic
        .col-md-12.col-xs-12
            input(type='file' name="image_page")
    br
    button#button_submit.btn.btn-primary(type="submit") Submit
    br
    br
    script.
        $('#button_submit').click(function(){
            var formData = new FormData();
            formData.append('estate_name', $('input[name=estate_name]').val());
            formData.append('estate_name_en', $('input[name=estate_name_en]').val());
            formData.append('block_number', $('input[name=block_number]').val());
            formData.append('flat_number', $('input[name=flat_number]').val());
            formData.append('floor_number', $('input[name=floor_number]').val())
            formData.append('gross_building_area', $('input[name=gross_building_area]').val());
            formData.append('practical_building_area', $('input[name=practical_building_area]').val());
            formData.append('num_room', $('input[name=num_room]').val());
            formData.append('num_livingrm', $('input[name=num_livingrm]').val());
            formData.append('car_park', $('input[name=car_park]').val());
            formData.append('ref_no', $('input[name=ref_no]').val());
            formData.append('district', $('select[name=district]').val());
            if($('input[name=issell]').val() == 1){
                formData.append('selling_price', $('input[name=selling_price]').val());
            }else {
                formData.append('rental_price', $('input[name=selling_price]').val());
            }
            formData.append('lat', $('input[name=lat]').val());
            formData.append('lng', $('input[name=lng]').val());
            formData.append('description', $('textarea[name=description]').val());

            formData.append('image_page', $('input[type=file]')[0].files[0]);
            console.log(formData);
            $.ajax({
                url: '/newproperty/add',
                type:'POST',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                encType: 'multipart/form-data',
                success: function(data){
                    var newLocation = '/webapp/NewProperty/property_owner/'+data.content[0];
                    window.location.href =newLocation;
                }
            }).fail(function(jqXHR, textStatus, error){
                alert("Error: "+jqXHR.responseJSON.error);
            });
        });