each owner in owners
    .row
        .col-md-12.col-xs-12.property_details.blackcolor
            .container
                .row
                    span.col-xs-12 Property Owner:
                .row
                    span.col-xs-12=owner.owner_name
                .row
                    span.col-xs-12 Owner Content Number:
                .row
                    span.col-xs-12=owner.owner_phone_number