.row
    .container
        .row
            .col-md-9.col-xs.12 
                .row
                    .col-md-6.col-xs-12
                        .blackcolor 
                            div=properties[0].estate_name
                    .col-md-6.col-xs-12

            .col-md-3.col-xs.12 asdf